<form method="post">
    <input name="apellido" placeholder="apellido" />
    <input name="idEmp" placeholder="idEmp" />
    <button type="submit">Log In</button>
</form>

<h2 style="color:red">
    @ViewData["MENSAJE"]
</h2>