@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form method="post">
    <input name="secretKey" placeholder="Key Vault Secret"/>
    <button type="submit">
        Send
    </button>
</form>
@ViewData["MENSAJE"]
