<form asp-action="PostDoctor">
    <input name="DOCTOR_NO" placeholder="DOCTOR_NO" />
    <input name="APELLIDO" placeholder="APELLIDO" />
    <input name="ESPECIALIDAD" placeholder="ESPECIALIDAD" />
    <input name="SALARIO" placeholder="SALARIO" />
    <input name="HOSPITAL_COD" placeholder="HOSPITAL_COD" />

    <button type="submit" class="btn btn-success">Crear Doctor</button>
</form>