################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CODIGO_APUNTES/FileContentIndex/d4a97241-f622-42e4-8c65-7a72f0e17b4d.vsidx
/.vs/CODIGO_APUNTES/FileContentIndex/fd9510ec-b8b6-40fb-8c66-64214c7a6b06.vsidx
