
<form class="form-control" action="FormView" method="post">
    <input class="input-group-lg" type="text" placeholder="Nombre" name="Nombre"/>
    <input class="input-group-lg" type="text" placeholder="Apellido" name="Apellidos"/>
    <input class="input-group-lg" type="number" placeholder="Edad" name="Edad"/>

    <button type="submit" class="btn btn-success">
        Enviar Persona
    </button>
</form>
