<form asp-action="Insert">
    <input name="Id" placeholder="Id" required />
    <input name="Name" placeholder="Name" required />
    <input name="Localidad" placeholder="Localidad" required />

    <button type="submit" class="btn btn-success">Crear </button>
</form>