<body class="text-center justify-content-center">
    
    <main class="form-signin">
      <form #FormLogin="ngForm" (submit)="Submit_Login(FormLogin.form)">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
        <div formGroup="User">
            <div class="form-floating">
              <input type="text" class="form-control" id="Input_UserName" name="userName" ngModel required>
              <label for="Input_UserName">User Name</label>
            </div>
            <div class="form-floating">
              <input type="password" class="form-control" id="Input_Password" name="password" placeholder="Password" ngModel required>
              <label for="Input_Password">Password</label>
            </div>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
      </form>
    </main>
    </body>