@if(Context.User.Identity.IsAuthenticated == false)
{
    <a class="btn btn-primary" asp-action="Index" asp-controller="Empleados">Log In</a>
}
else
{
    <a asp-action="Empleados" asp-controller="Perfil">@Context.User.Identity.Name</a>
}