

    <div class=" mb-3 mb-sm-0">
        <div class="card me-2 float-md-start" style="max-width: 540px;"  *ngFor="let personaje of personajes">
            <div class="row g-0">
                <div class="col-md-4">
                    <img [src]="personaje.imagen" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">{{personaje.nombre.toUpperCase()}}</h5>
                    <p class="card-text">{{personaje.idPersonaje}} | {{personaje.idSerie}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

