<form asp-action="Login" method="post">
    <input placeholder="UserName" name="usuario" />
    <input placeholder="Password" type="password" name="password" />
    <button type="submit">Logear</button>
</form>

<h2>@ViewBag.MENSAJE</h2>