@model Personaje

<form asp-action="CreatePersonaje">
    <div class="form-group">
        <label for="idPersonajeInput">ID PERSONAJE</label>
        <input type="number" class="form-control" id="idPersonajeInput" placeholder="id" name="IDPERSONAJE">
    </div>
    <div class="form-group">
    <label for="inputNombre">Nombre</label>
        <input type="text" class="form-control" id="inputNombre" placeholder="Nombre" name="Nombre">
    </div>
    <div class="form-group">
        <label for="inputImagen">Imagen</label>
        <input type="text" class="form-control" id="inputImagen" placeholder="Imagen" name="Imagen">
    </div>

  <button type="submit">Crear Personaje</button>
</form>