@using WebApplicationEmpleados.Models
@model List<Empleado>
@{
    List<string> oficios = ViewData["oficios"] as List<string>;
}

<h1></h1>
<form method="post">
    <label>Seleccione un oficio</label>
    <select name="oficio" class="form-control">
        @foreach (string oficio in oficios)
        {
            <option value="@oficio">@oficio.ToUpper()</option>            
        }
    </select>
    <button class="btn btn-primary" type="submit">Buscar</button>
</form>

    <ul>
        @foreach(Empleado empleado in Model)
        {
            <li>
                <a asp-action="Details" asp-controller="Empleados">@empleado.Apellido | @empleado.Oficio</a>
            </li>
        }
    </ul>
