@model List<BlobModel>

<a asp-action="CreateContainer" class="btn btn-success">
    Create Container
</a>
<ul class="list-group">
    @foreach (BlobModel blob in Model)
    {
        <li class="list-group-item list-group-item-info">
            <div class="row">
                <div class="col-11 float-start">
                    @blob.Name
                </div>
                <img src="@blob.Url" style="height:68px;width:68px"/>
                <div class="col-1 float-end justify-content-end">
                    <a asp-action="DeleteContainer" asp-route-blobName="blob.Name" asp-route-containerName="@blob.Contenedor" class="btn btn-danger">
                        Delete
                    </a>
                </div>
            </div>
        </li>
    }
</ul>

