<form asp-action="InsertHospital" class="form-control">

    <input name="IdHospital" placeholder="IdHospital" type="number" rquired />
    <input name="Nombre" placeholder="Nombre" rquired />
    <input name="Telefono" placeholder="Telefono" rquired />
    <input name="Camas" placeholder="Camas" rquired type="number" />
    <input name="Direccion" placeholder="Direccion" rquired />

    <button type="submit">Crear Hospital</button>
</form>