@{
    ViewData["Title"] = "Home Page";
}


<form method="post"
      action="https://localhost:7045/Tienda/Productos">
    <input type="hidden" name="direccion"
           value="Casa Hacker" />
    <input type="hidden" name="producto"
           value="Tesla 80.000€" />
    <input type="hidden" name="producto"
           value="IPhone 1.200€" />
    <input type="hidden" name="producto"
           value="Ordenador Gaming 2.500€" />
    <input type="hidden" name="producto"
           value="Ferrari 250.000€" />
    <button class="btn btn-danger">
        Juega conmigo...
    </button>
</form>