@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form method="post" asp-action="Index" asp-controller="Home">
        <input name="email" placeholder="email"/>
        <input name="asunto" placeholder="asunto" />
        <input name="mensaje" placeholder="mensaje" />
        <button type="submit">
            Enviar Email
        </button>
    </form>
</div>
