
<a asp-controller="Caching"
   asp-action="MemoriaPersonalizada">
    Actualizar página
</a>
<a asp-controller="Caching"
   asp-action="MemoriaPersonalizada"
    asp-route-tiempo="10">
    Actualizar página 10s
</a>

<h1>@ViewBag.MENSAJE</h1>
<h1>@ViewBag.FECHA</h1>